*{
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    
 }

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c2c43;
   
    
}

header{
    width: 100%;
    z-index:111111111;
    top: 0;
    position: sticky;

}

#logo{
    width: 20%;
    margin-right: 390px;
}
.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    

}

.nav-links a{
    color:#fff;
    text-decoration: none;
    font-size: 20px; 
}
.nav-links li{
    list-style: none;
    
}




.hero{
    text-align: start;
    background-image: url('../Images/font-image.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 20px; 
}

.hero  h2 {
color: white;
margin-left: 20px;
margin-top: 40px;

}
.hero  h1 {
    color: white;
    margin-top: 60px;
    margin-left: 20px;
  
 }
 .premier button {
    width: 20%; 
    height: 20%;
    background-color: #0c2c43;
    border: none;
    padding: 10px;
    color: white;
    font-size: 1Opx;
    font-weight: bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 18px;

}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.service h1 {
    font-weight: bold;
    text-align: left;
     font-size: 30px;
     margin-bottom: 50px;
     align-items: center;
}


.nos-service {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.nos-service > div {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    flex: 1 1 30%;
    max-width: 30%;
    box-sizing: border-box;
}
label{
    max-width: 50%;
}

.nos-service img {
    width: 100%;
    height: auto;
}

.nos-service h2 {
    margin-top: 0;
}

.serv1, .serv2, .serv3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.serv1 img, .serv2 img, .serv3 img {
    margin: 10px 0;
}

.serv1 p, .serv2 p, .serv3 p {
    text-align: left; /* Aligne le texte à gauche */
    margin: 0; 
    padding: 0;
    margin-bottom: 0;
}
.apropos {
    padding: 20px;
    text-align: center;
    align-items: center;
    text-align: center;
}

.apropos h1 {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    align-items: center;
}

.Apropos-BTP {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto; 
}

.descript {

    flex: 1;
    padding: 20px;
    text-align: left; 
    position: relative; 
    transform: translateY(-130px);
    

}
.descript p{
    padding: 40px;
    width: 100%;
    font-size: 19px;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-equipe {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 20px; 
     
}

.img-equipe img {
    width: 100%;
    max-width: 450px; 
    border-radius: 10%;
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
}

.temoignage {
    padding: 20px;
    text-align: center;
}

.temoignage h1 {
    font-weight: bold;
    margin-bottom: 50px;
}

.client {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    
}

.client > div {
    border: 1px solid #ddd; 
    padding: 20px;
    text-align: center;
    flex: 1 1 30%;
    max-width: 30%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.client img {
    width: 100%;
    height: auto;
    max-height: 200px; 
    object-fit: contain; 
}

.client p {
    text-align: left; 
    margin: 0; 
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.contact h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
.contact p {
    width: 100%;
    display: flex;
    justify-content: start;
    margin-left: 11.5%; 
    

}



.form-contact {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
  
    margin: 0 auto;
}

.form-contact form {
    width: 50%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button {
    width: 60%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #0c2c43;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.contact-info {
    margin-top: 20px;
    text-align: left;
}

.contact-info p {
    margin: 10px 0;
}
.contact h1 {
    margin-bottom: 50px;

}

.contact-info a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

iframe {
    width: 50%;
    height: 450px;
    border-radius: 8px;
    border: 0;
}
.footer {
    background-color: #0c2c43;
    color: white;
    margin: 0%;
    padding: 20px 0;
    text-align: center;
    width: 100%; /* Ajout de cette ligne */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-container > div {
    flex: 1;
    padding: 10px;
    
}

.legal-info h2,
.social-links h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.legal-info p,
.legal-info a {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
}

.legal-info a {
    text-decoration: none;
    color: #4CAF50;
}

.legal-info a:hover {
    text-decoration: underline;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.toggle_menu{
    display: none;
}

@media (max-width:772px) {
    body{
        overflow-x: hidden;
    }
    header nav .nav-links {
        display: none;
    }
    nav {
        padding: 0 20px;
    }

    .toggle_menu {
        display: flex;
        height: 40px;
        width: 40px;
         display: flex;
         align-items: center;
         justify-content: center;
         position: relative;
         cursor: pointer;
    }
    .toggle_menu::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color: #45a049;
        border-radius: 6px;
        box-shadow: 0 10px 0 #45a049;
        transform: translateY(-10px);
        transition: 0.5s;
    }
    .toggle_menu.active::before {
        transform: translateY(0) rotate(135deg);
        box-shadow: 0 0 0 #000000
    }
    .toggle_menu::after {
        position: absolute;
        content: "";
        height: 3px;
        width: 28px;
        background-color:#45a049;
        border-radius: 6px;
        transform: translateY(10px);
        transition: 0.5s;
    }
    .toggle_menu.active::after {
        transform: translateY(0) rotate(-135deg);

    }
    header nav .nav-links.responsive {
        display: flex;
        position: absolute;
        top: 50px;
        right: 0;
        width: 70%;

        align-items: center;
        justify-content: center;
         background-color: #0c2c43;  
         box-shadow: 0 0 10px rgba(0,0,0,0.1); 
        flex-direction: column;
        height: auto;
    }
    header nav .nav-links.responsive li {
        margin: 15px 0;
    }
    .contact{
        transform: translateY(-110px);

    }
    .premier button {
        width: 50%; 
        height: auto;
       font-size: 12px; 
        margin-left: 10px;
        
    }
    .nos-service {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        

      }

      
      .serv1, .serv2, .serv3 {

        width: 100%;
        min-width: 70%;
        height: auto;
    


      }
      .Apropos-BTP{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

      }
      .apropos h1 {
         margin-bottom: 60px; 
        text-align: center;
        align-items: center;

      }
      .img-equipe {
        position: relative; 
        transform: translateY(-120px);
        

      }
      .client {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
       
        
        
        

      }
      .temoignage{
        position: relative; 
        transform: translateY(-110px);

      }
      
      .client > div {
        min-width: 70%;
        
        
      }
      .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .form-contact {

        display: flex;
        flex-direction: column;
        /* width: 100%;  */
        justify-content: center;
         align-items: center; 
        text-align: center;
        position: relative; 
        /* transform: translateY(-190px); */

      }
      
      
      .contact h1 {
        position: relative; 
        /* transform: translateY(-140px); */

        
      }
      form {
        min-width: 90%;
         
      }
      iframe {
        min-width: 90%;

      }
      .footer-container{
        display: flex;
        flex-direction: column;
      }
    .premier h2{
        margin: 5px;
    }

      }

    
   
    
        
    
